.tal-vez-te-guste-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(235, 235, 235, 0.809);
    border-radius: 10px;
    padding: 10px;
    

    h1 {
        font-size: x-large;
        text-align: left;
    }
}